<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107271813889-8hh5g4uoe2vfptgpkrtlc5f1i127g20c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107271813889-8hh5g4uoe2vfptgpkrtlc5f1i127g20c</string>
	<key>API_KEY</key>
	<string>AIzaSyDlJgWbsbv_s1mIXKFVel4rXzJdZEWKys0</string>
	<key>GCM_SENDER_ID</key>
	<string>107271813889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eLearningApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-learning-93242</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learning-93242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107271813889:ios:b4a73d58db19902d7e7900</string>
</dict>
</plist>